<h5 class="blog-info x-hidden-focus">Popular Blogs</h5>
<div class="all-blogs-list sidebar-links">
    <ul class="">
        <li>
            <a title="Visual Studio Blog" href="https://devblogs.microsoft.com/">
                Microsoft Dev Blog
            </a>
        </li>
        <li>
            <a title="Visual Studio Blog" href="https://devblogs.microsoft.com/visualstudio">
                Visual Studio Blog
            </a>
        </li>
        <li>
            <a title=".NET Blog" href="https://devblogs.microsoft.com/dotnet">
                .NET Blog
            </a>
        </li>
    </ul>
</div>