<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% if description %}
    <meta name="description" content="{{ description }}">{% endif %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% # include google-analytics.html %}
</head>
<body>
    {% include _navigation.html %}
    <div class="container">
        <div class="row postcontent">
            <div class="col-12">
                <article>
                    <h1>{{ title }}</h1>
                    <div class="entry-meta entry-meta-layout" style="text-align:center;">
                        <p style="text-align:center;font-size:14px;color:#616161;margin-top: 20px;padding-top: 6px;border-top: 2px solid #979593;display: inline-block;" class="x-hidden-focus">
                            {% include day.html date: date %}
                        </p>
                    </div>
                    {{ content }}
                    <hr />
                    <p>
                        {% for tag in tags %}
                        <span class="badge rounded-pill text-bg-success">{{ tag | replace: "-"," " }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        Any comments? You can start 🗨 at <a href="https://github.com/VaclavElias/vaclavelias.github.io/discussions">GitHub Discussion</a>.
                    </p>
                </article>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 mb-4">
                {% if page.previous.url %}
                <div class="post-card">
                    <h5>Previous Post</h5>
                    <a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a>
                </div>
                {% endif %}
            </div>
            <div class="col-md-6 text-md-end">
                {% if page.next.url %}
                <div class="post-card">
                    <h5>Next Post</h5>
                    <a class="next" href="{{page.next.url}}">{{page.next.title}}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>