---
layout: default
title: Blog
---
<h1 class="my-3">Blog</h1>
<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-12">
        {% for post in collections.post reversed %}
        <article class="search-main">
            <div class="row justify-content-center pt-3 pb-1">
                <div class="text-center col-lg-4 col-md-12 d-none d-lg-block">
                    <img class="mt-2 p-4 lazyloaded img-fluid" loading="lazy" src="{{ post.data.image }}" data-src="{{ post.data.image }}" alt="">
                </div>
                <div class="col-lg-8 col-md-12 post-card-header">
                    <h4 class="entry-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h4>
                    <p>{% include _day.html date: post.date %}</p>
                    <p>
                        {{ post.data.excerpt }}
                    </p>
                    <p>{% include _tags.html tags: post.data.tags %}</p>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="box-style">
            <div class="devblogs-widget">
                <h5 class="blog-info x-hidden-focus">Popular Blogs</h5>
                <div class="all-blogs-list sidebar-links">
                    <ul class="">
                        <li>
                            <a title="Visual Studio Blog" href="https://devblogs.microsoft.com/visualstudio">
                                Visual Studio Blog
                            </a>
                        </li>
                        <li>
                            <a title=".NET Blog" href="https://devblogs.microsoft.com/dotnet">
                                .NET Blog
                            </a>
                        </li>
                    </ul>
                </div>
                <hr />
                <h5 class="blog-info x-hidden-focus">Resources</h5>
                <div class="all-blogs-list sidebar-links">
                    <ul>
                        <li><a title="Microsoft Docs" href="https://docs.microsoft.com/en-us/" target="_blank" rel="noopener" class="x-hidden-focus">Microsoft Docs</a></li>
                        <li><a title="C# Game Engine" href="https://www.stride3d.net" target="_blank" rel="noopener" class="x-hidden-focus">Stride 3D Game Engine</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

